.center {
    text-align: center;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.big {
    font-size: larger;
}

.small {
    font-size: smaller;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.multi {
    font-size: larger;
    color: orange;
    font-weight: bold;
}

.styledFont {
    color: blue;
}

#styledImage {
    border-width: bold;
    border-style: solid;
    border-color: aqua;
}